* {
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  background-image: url(https://win.heart.co.uk/starwars-galaxy/img/bg-fallback.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.starting {
  background-image: url(https://media.giphy.com/media/UnEViu5sOVWVO/giphy.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  max-height: 600px;
  max-width: 600px;
  border: 0.4px solid;
  border-color: rgb(3, 68, 8);
}

.grid div {
  flex-grow: 1;
  height: 9%;
  width: 9%;
}

.grid div.wall {
/* background-image: url(https://i.ytimg.com/vi/TfGzuHvvT2k/hqdefault.jpg);
background-size: contain;
background-repeat: no-repeat;
background-position-x: 0;
background-position-y: 0; */
}

.grid div.street {
  /* background-color: rgb(145, 5, 5) ; */
}

.grid div.hell {
  background-image: url(https://p7.hiclipart.com/preview/474/533/290/pixel-art-game-sprite-8-bit.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0;
}

.grid div.sky {
  /* background-image: url(https://ak8.picdn.net/shutterstock/videos/14444278/thumb/1.jpg);
  background-size: 70px;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 10px; */
}

.grid div.yoda {
  background-image: url(images/llama.gif);
  background-size: 60px;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0;
}

.grid div.home {
  background-image: url(https://media.giphy.com/media/Titt7WbFzurny/giphy.gif);
  background-size: 60px;
  background-repeat: no-repeat;
  background-position-x: -1px;
  background-position-y: 5px;
}

.grid div.car {
  background-image: url(https://media.giphy.com/media/aotWWaGrXuNuo/giphy.gif);
  background-size: 55px;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0;
}

.grid div.trooper {
  background-image: url(https://414foto.com/image/96262-full_pixel-art-gif-transparent-pixel-art-de-chien-pixel-art-facile.gif);
  background-size: 60px;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 7px;
}

.grid div.log {
  background-image: url(https://thumbs.gfycat.com/EarnestUnrealisticIrishsetter.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0;
}

.grid div.player {
  background-image: url(https://thumbs.gfycat.com/FluffyPersonalBorer.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0;
}

.grid div.boba {
  background-image: url(https://thumbs.gfycat.com/AdorableCleverKoalabear.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0;
}

.timer {
  border: solid;
  width: 70px;
  height: 20px;
  text-align: center;
  color: blueviolet;
}

.hide {
  display: none;
}

.win {
  height: 600px;
  width: 600px;
  font-size: 50px;
  color: white;
  background-image: url(https://media.giphy.com/media/JrMyqcNznjfx8g5sr2/giphy.gif);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0px;
}

.lose {
  height: 600px;
  width: 600px;
  font-size: 50px;
  color: white;
  background-image: url(https://414foto.com/image/96226-full_gif-halloween-skull-pixel-art-pixel-spooky-cool-gif-spoopy-all.gif);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0px;
}

.scoreboard {
  border: solid;
  width: 100px;
  height: 20px;
  font-size: 10px;
  text-align: center;
  color: rgb(22, 255, 236);
}


