* {
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  background-image: url(https://win.heart.co.uk/starwars-galaxy/img/bg-fallback.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  max-height: 600px;
  max-width: 600px;
  border: 0.4px solid;
  border-color: rgb(3, 68, 8);
}

.grid div {
  flex-grow: 1;
  height: 9%;
  width: 9%;
}

.grid div.wall {
background-image: url(https://i.ytimg.com/vi/TfGzuHvvT2k/hqdefault.jpg);
background-size: contain;
background-repeat: no-repeat;
background-position-x: 0;
background-position-y: 0;
}

.grid div.street {
  /* background-color: rgb(145, 5, 5) ; */
}

.grid div.hell {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7edaff79-abab-465d-9536-b6733ab1b4ca/d2hn9ri-794b61bf-781e-4d4c-b70c-1b327264dfdc.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzdlZGFmZjc5LWFiYWItNDY1ZC05NTM2LWI2NzMzYWIxYjRjYVwvZDJobjlyaS03OTRiNjFiZi03ODFlLTRkNGMtYjcwYy0xYjMyNzI2NGRmZGMuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.0FHqjPNmkfgoJdcsApOCC-vRFq5f1T9z1MogzoS3IPA);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 10px;
}

/* .grid div.sky {
  background-image: url(https://ak8.picdn.net/shutterstock/videos/14444278/thumb/1.jpg);
  background-size: 70px;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 10px;
} */

.grid div.yoda {
  background-image: url(https://media.giphy.com/media/EUcKlaja5qQWA/giphy.gif);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 10px;
}

.grid div.home {
  background-image: url(https://media.giphy.com/media/BhLo1r6oNmg5G/giphy.gif);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0;
}

.grid div.car {
  background-image: url(https://media.giphy.com/media/8Uyz68JpozWve/giphy.gif);
  background-size: 82px;
  background-repeat: no-repeat;
  background-position-x: -10px;
  background-position-y: 3px;
}

.grid div.trooper {
  background-image: url(https://media.giphy.com/media/jL7cmBKJqnyG4/giphy.gif);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0;
}

.grid div.log {
  background-image: url(images/Millennium-Falcon-Star-Wars-PNG-Image-with-Transparent-Background.png);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position-x: 2;
  background-position-y: 12px;
}

.grid div.player {
  background-image: url(https://media.giphy.com/media/7eR9XFuWVbBLi/giphy.gif);
  background-size: 55px;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0;
}

.grid div.boba {
  background-image: url(images/Boba-Fett-Free-PNG-Image.png);
  background-size: 65px;
  background-repeat: no-repeat;
  background-position-x: -7px;
  background-position-y: -5px;
}

.timer {
  border: solid;
  width: 70px;
  height: 20px;
  text-align: center;
  color: blueviolet;
}

.hide {
  display: none;
}

.win {
  height: 600px;
  width: 600px;
  font-size: 50px;
  color: white;
  background-image: url(https://media.giphy.com/media/JrMyqcNznjfx8g5sr2/giphy.gif);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0px;
}

.lose {
  font-size: 50px;
}

.scoreboard {
  border: solid;
  width: 100px;
  height: 20px;
  font-size: 10px;
  text-align: center;
  color: rgb(22, 255, 236);
}


