* {
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  background-image: url(https://win.heart.co.uk/starwars-galaxy/img/bg-fallback.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.starting {
  background-image: url(https://media.giphy.com/media/UnEViu5sOVWVO/giphy.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0;
}

.grid {
  align-items: center;
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2); */
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  max-height: 600px;
  max-width: 600px;
  border: 3px solid;
  border-color: rgb(1, 17, 19);
}

.grid div {
  flex-grow: 1;
  height: 9%;
  width: 9%;
}

.grid div.wall {
  background-image: url(images/grass.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0px;
}

.grid div.street {
  background-image: url(images/iceberg.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0px;
}

.grid div.hell {
  background-image: url(images/sea.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0px;
}

.grid div.sky {
  background-image: url(images/fire.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0px;
}

.grid div.yoda {
  background-image: url(images/llama.gif);
  background-size: 60px;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0;
}

.grid div.home {
  background-image: url(https://media.giphy.com/media/Titt7WbFzurny/giphy.gif);
  background-size: 60px;
  background-repeat: no-repeat;
  background-position-x: -1px;
  background-position-y: 5px;
}

.grid div.car {
  background-image: url(https://media.giphy.com/media/aotWWaGrXuNuo/giphy.gif);
  background-size: 55px;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0;
}

.grid div.trooper {
  background-image: url(https://414foto.com/image/96262-full_pixel-art-gif-transparent-pixel-art-de-chien-pixel-art-facile.gif);
  background-size: 60px;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 7px;
}

.grid div.log {
  background-image: url(https://thumbs.gfycat.com/EarnestUnrealisticIrishsetter.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0;
}

.grid div.player {
  background-image: url(https://media.giphy.com/media/11gZ1gy9uOz8CA/giphy.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 2px;
}

.grid div.boba {
  background-image: url(https://media.giphy.com/media/YB9mintb78SiZz8zkA/giphy.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0;
}

.timer {
  border: solid;
  width: 70px;
  height: 20px;
  text-align: center;
  color: blueviolet;
}

.hide {
  display: none;
}

.win {
  height: 600px;
  width: 600px;
  font-size: 50px;
  color: white;
  background-image: url(https://media.giphy.com/media/JrMyqcNznjfx8g5sr2/giphy.gif);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0px;
}

.lose {
  height: 600px;
  width: 600px;
  font-size: 50px;
  color: white;
  background-image: url(https://414foto.com/image/96226-full_gif-halloween-skull-pixel-art-pixel-spooky-cool-gif-spoopy-all.gif);
  /* background-image: url(https://media.giphy.com/media/Be0YVQAdVdm4E/giphy.gif); */
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0px;
}

.scoreboard {
  border: solid;
  width: 100px;
  height: 20px;
  font-size: 10px;
  text-align: center;
  color: rgb(22, 255, 236);
}


